<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <!-- load the socket.io-client -->
    <script src="/ownpath/socket.io.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <input id="m" autocomplete="off" />
    <button id="btn" onclick="sendMsg()">Send</button>

    <script src="/js/client.js"></script>
  </body>
</html>
